<h1>Ebikes</h1>

<table>
 <tr>
  <th><a>Name</a></th>
  <th>Type</th>
  <th>Brand</th>
  <th>Stock</th>
  <th>Price</th>
  <th>Cost</th>
  </tr>
  <% @ebikes.each do |ebike| %>
  <tr>
   <td><a href="/<%= ebike.id %> "><%= ebike.name %></a></td>
   <td><a><%= ebike.type().name %></a></td>
   <td><a href="/<%= ebike.brand_id %>"><%= ebike.brand.name %></a></td>
   <td><a class="<% ebike.stock_status %> center"><%= ebike.stock_count %></td>
   <td>£<%= ebike.retail_price() %></td>
   <td>£<%= ebike.cost() %></td>

  </tr>
  <% end %>



</table>

