<div>
<h2>Ebikes</h2>
</div>

<table>
<% @ebikes.each do |bike|%>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Brand</th>
    <th>Stock</th>
    <th>Retail_Price</th>
    <th>Cost</th>
  </tr>
  <tr>
    <td><a href="/ebikes/<%= ebike.id %> "><%= ebike.name %></a></td>
    <td><a href="/types/<%= ebike.type_id %>"><%= ebike.type().print_name %></a></td>
    <td><a href="/brands/<%= ebike.brand_id %>"><%= ebike.brand().name %></a></td>

    <td><a class="<% ebike.stock_status %> center"><%= ebike.stock_count %></td>
    
    <td>£<%= ebike.retail_price() %></td>
    <td>£<%= ebike.cost() %></td>
  </tr>
  <% end %>
</table>

