<div>
  <h2>eBikes</h2>
  <a href="/ebikes/<%= @ebike.id %>/edit">Edit</a>
  <form action="/ebikes/<%= @ebike.id %>/delete" method="post">
  <input type="submit" value="Delete">
  </form>
</div>

<table>
<tr>
<th>Name</th>
<td><%= @ebike.name %></td>
</tr>
</table>

<table>
<tr>
<th>Type</th>
<td><a href="/type/<%= @ebike.type_id %>"><%= @ebike.type().print_name %></a></td>
</tr>
<tr>
<th>Brand</th>
<td><a href="/type/<%= @ebike.brand_id %>"><%= @ebike.brand().print_name %></a></td>
</tr>
</table>

<table>
  <tr>
    <form action="/ebikes/<%= @ebike.id %>/buy" method="post">
      <th><label for="buy-bikes">Buy from Manufacturer</label></th>
      <td><input type="number" min="0" name="bikes" id="buy-bikes"><input type="submit" value="Buy"></td>
    </form>
  </tr>
  <tr>
    <form action="/ebikes/<%= @ebike.id %>/sell" method="post">
      <th><label for="sell-bikes">Sell to Customer</label></th>
      <td><input type="number" min="0" name="bikes" id="sell-bikes"><input type="submit" value="Sell"></td>
    </form>
</table>

<table>
  <tr>
    <th scope="row">Buy Cost</th>
    <th scope="row">Sell Price</th>
    <th scope="row">Markup</th>
    <th scope="row">Stock</th>
    <th scope="row">Bikes Sold</th>
  </tr>
  <tr>
    <td>£<%= @ebike.print_buy_cost() %></td>
    <td>£<%= @ebike.print_sell_price() %></td>
    <td>£<%= @ebike.print_markup() %></td>
    <td class="<%= @ebike.stock_status() %> center"><%= @ebike.stock_count %></td>
    <td><%= @ebike.bikes_sold %><%= "" if @ebike.is_bestseller?() %></td>
  </tr>
</table>


